* { margin:0; padding:0; }

body {
    font-family: Helvetica Neue, Helvetica, Sans-Serif;  
    background: #241b1b;
}
html, body {
    height: 100%;
}
body > section {
    width: 100%;
}
body section#header {
    position: relative;
    padding-top:30px;
    background-image:url("../images/bg.jpg");
    background-size: cover;
    height: 78%;
}
body header {
    height: 170px;
    /*background:rgba(0,0,0,0.35); */
    text-align: center;
    padding: 10px;
}
body #header {
    min-height: 580px;
}
/*body header h1 { color:transparent; background: url("../images/hacksc_logo.png") no-repeat center; height:126px; }*/
body header h1 {
    color:transparent; 
    background:url('../images/hacksc_weblogo-whtx.png') no-repeat center;
    background-size: 300px 419px;
    height: 426px;
}
body header h3 {
  color:transparent; 
  background:url('../images/date-logo.png') no-repeat center;
  background-size: 300px 75px;
  height: 75px;
  margin-top: 0;

}
body #prompt {
    /*background:url('../images/terminal_window.png') no-repeat center white;
    height: 630px;*/
    height: 220px;
}
body header h3 {
    font-family: 'Source Code Pro', courier, monospace, serif;
    color:#fff;
    text-indent:-4000px;
    font-weight :normal;
    font-size: 42px;
    text-shadow:0 0 2px black;
}
body section#signup input {
    background: transparent;
    color:#fff;
    font-family: 'Source Code Pro', courier, monospace, serif;
    font-size: 1.1em;
    border: 0 none;
}
body section#signup {
  /* bottom
  */
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background: 
    rgba(0,0,0,0.4);
    padding: 20px;
    /*background: #241b1b;*/
    color: #fff;
    font-size: 1.5em;
}
body .inner.dark {
    padding: 40px;
    text-align:center;
    width:100%;
    background: #241b1b;
    color: #fff;
    font-size: 1.2em;
    background: black url("../images/city-skyline.jpg") repeat-x center;
    text-shadow: 2px 1px 3px black;
}
/*body section#signup {  }*/
.inner {
    width: 45%;
    margin: 0 auto;
}
#about {
    line-height: 2em;
    font-size:1.25em;
    padding:40px 0;
    padding-bottom:60px;
    color:#222;
    background:#fefefe;
}
#footer {
    color:#fefefe;
    text-align:center;
    padding:20px;
}
.typewriter {
    white-space: pre-wrap;
    margin-right: -6px;
}
/*#prompt .inner {margin: 0 auto;
width: 394px;
font-size: 39px;
line-height: 1.2em;
font-family: courier new;
font-weight: bold;
color: white;
text-shadow: 2px 1px 3px black;
margin-top: 65px;}*/

#prompt .inner {
    margin: 0 auto;
    width: 600px;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.1em;
    font-family: 'Source Code Pro', courier, monospace, serif;
    font-weight: bold;
    color: #444;
    /*text-shadow: 2px 1px 3px black;*/
    /*margin-top: 65px;*/
    font-size: 24px;
    line-height: 1.1em;
    font-family: 'Source Code Pro', courier, monospace, serif;
    font-weight: bold;
    color: #fefefe;
    font-weight: normal;
}

#prompt .inner a { color:white}
.caret {
    background: white;
}
#mce-EMAIL {
    transition: 1s box-shadow linear;
    padding: 2px;
}
.hilight {
    box-shadow: 0px 0px 10px white;
}
#footer {
    background-image: url("../images/working_dark.jpg");
    background-size: cover;
    height: 200px;
}

.caret {
  animation: blink 1.5s linear 0s infinite;
  -webkit-animation: blink 1.5s linear 0s infinite;
  -moz-animation: blink 1.5s linear 0s infinite;
  -ms-animation: blink 1.5s linear 0s infinite;
}
@-webkit-keyframes blink {
  0%   { opacity: 1 }
  70%  { opacity: 1 }
  80% { opacity: 0; }
  100% { background: 1 }
}
 
@-moz-keyframes blink {
              0%   { opacity: 1 }
  70%  { opacity: 1 }
  80% { opacity: 0; }
  100% { background: 1 }
}
    @-ms-keyframes blink {
          0%   { opacity: 1 }
    70%  { opacity: 1 }
    80% { opacity: 0; }
    100% { background: 1 }
}
.prompt_bg {
    background-color:black;
}
#emailinput {
    border:1px solid white;
}
/* if mobile */
@media only screen and (max-width: 626px) {
  .inner {width:90%;}
  body section#header {height:100%;}
}

.inner h3 {
    font-weight:bold;
    color:#990000;
    text-align:center;
    font-size:1.5em;
    line-height:1em;
    padding-bottom:0.5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 2.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.sponsors.inner {
    text-align:center;
}
.inner h5 {
    color:white;
    font-size:1em;
}
.inner p {
    size:0.8em;
    line-height:1.5em;
}
.inner b {
    size:0.8em;
    line-height:0.5em;
}
body a {
    color:#900;
    text-decoration:none;
    border-bottom:1px dashed #800;
}

body a:hover {
    color:#800;
    border-bottom:none;
    text-decoration:none;
}

body {
    background-color:#ECF0F1;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 23px 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

#mc-embedded-subscribe {
    padding-bottom: 5px
}

/* bootstrap stuffs */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
    }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          
  box-sizing: border-box;
}
sup {
    font-size: 75%;
    line-height: 0;
}
p {
    margin: 0 0 10px;
}
/* fix bootstrap sizing stuff */
.imagelink {
    text-decoration:none;
    border:0 none;
}
#whiteunderline {
    border-bottom:2px solid white;
}
#whiteunderline:hover {
    border-bottom:none;
}